#planet-svg {
  top: 10%;
  left: 10%;
}

#plus-svg {
  top: 86%;
  left: 50%;
  transform: rotate(33deg);
}

#shape1-svg {
  top: 76%;
  left: 100%;
  transform: rotate(33deg);
}

#shape2-svg {
  top: 60%;
  left: 5%;
  transform: rotate(33deg);
}

.ant-btn-primary {
  color: #fff;
  background-color: #3b82f6;
  box-shadow: 0 2px 0 rgba(5, 138, 255, 0.06);
}

@keyframes rotate-45 {
  from {
    transform: rotate(0, 0deg);
  }
  to {
    transform: rotate(0, -360deg);
  }
}
